@{
    Layout = "_LayoutEmpleado";
}


<div>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="row">
                    <h1 class="text-center">Agregar producto</h1>

                </div>

            </div>
        </div>
    </section>


    <section class="content">


        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex justify-content-center align-items-stretch">
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <form onsubmit="GuardarProducto(event)">
                                <br />
                                <div class="card-body pt-0">

                                    @Html.AntiForgeryToken()
                                    <div class="form-group">


                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" id="nombreProducto" placeholder="Nombre">


                                    </div>
                                    <br />
                                    <div class="form group">


                                        <label>Detalles:</label>
                                        <input type="text" id="descripcionProducto" class="form-control" placeholder="Detalles">


                                    </div>

                                    <br />
                                    <div class="form-group">
                                        <label for="categorias" class="text-black">Categoria relacionada: <span class="text-danger"></span></label>
                                        <select id="categorias" class="form-control">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="recetas" class="text-black">Receta relacionada: <span class="text-danger"></span></label>
                                        <select id="recetas" class="form-control">
                                        </select>
                                    </div>

                                    <br />
                                    <div class="form-group">


                                        <label for="precioProducto">Precio:</label>
                                        <input type="number" class="form-control" placeholder="Precio nuevo" id="precioProducto">


                                    </div>

                                    <br />

                                    <div class="col-5 text-left">
                                        <label>Ejemplo:</label>
                                        <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid" id="imagenFront">
                                    </div>

                                    <br />

                                    <div class="form-group">
                                        <label class="form-label" for="imagenProducto">Cargar Archivo</label>
                                        <input type="file" class="form-control" id="imagenProducto" onchange="mostrarImagenSeleccionada()" />
                                    </div>

                                   
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </section>

</div>




@section Scripts {
    <script type="text/javascript" src="~/js/productoEmpleado/agregar.js" asp-append-version="true">

    </script>
}