@{
    Layout = "_LayoutAdministrador";
}

<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista de Pedidos</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="card" id="paginacion">
            <div class="card-header">
                <h3 class="card-title">Historial de pedidos.</h3>
            </div>
            <div class="card-body p-0 table-responsive">
                <table class="table table-striped projects">
                    <thead>
                        @Html.AntiForgeryToken()
                        <tr>
                            <th style="width: 1%" class="text-center">
                                Pedido
                            </th>
                            <th style="width: 8%" class="text-center">
                                Fecha realizado
                            </th>
                          
                            <th style="width: 8%" class="text-center">
                                Estado
                            </th>
                            <th style="width: 8%" class="text-center">
                                Ver Pedido
                            </th>
                           
                            <th style="width: 8%" class="text-center">
                                Actualizar Estado
                            </th>

                           
                        </tr>
                    </thead>
                    <tbody id="agregar">
                       


                    </tbody>
                </table>
            </div>
        </div>


    </section>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/pedidoAdmin/index.js"></script>
}





