@{
    Layout = "_LayoutAdministrador";
}


<div>
    <br />
    <section class="content ">


        <div class="col-md-12 ">
            <div class="card card-primary ">
                <div class="card-header custom-navbar">
                    <h3 class="card-title">Informacion del pedido</h3>
                </div>

                <div class="card-body" id="agregar">
                   


                </div>




            </div>


        </div>

    </section>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/pedidoAdmin/ver.js"></script>
}