@{
    Layout = "_LayoutUsuario";
}

<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5">
                <span class="display-3  text-primary">
                    
                </span>
                <h2 class="display-3 text-black">Ha ocurrido un error!</h2>
                <p class="lead mb-5">Por favor verifique los datos de su tarjeta.</p>
                <p><a class="btn btn-sm btn-outline-black" href="@Url.Action("TiendaUsuario", "UsuarioRegistrado")">Regresar a la tienda </a></p>
            </div>
        </div>
    </div>
</div>

