@{
    Layout = "_LayoutUsuario";
}


<div class="mb-5">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Informacion de la factura.</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="col-md-12">

                        <div class="invoice p-3 mb-5" id="agregar">

                           
                            @*             <div class="row no-print">
                            <div class="col-12">
                            <a href="#" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Imprimir </a>

                            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> Generar en PDF
                            </button>
                            </div>
                            </div> *@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


@section Scripts {
    <script type="text/javascript" src="~/js/facturaUsuario/ver.js" asp-append-version="true"></script>
}


