@{
    Layout = "_Layout";
}



<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Sobre nosotros</h1>
                  
                    <p><a href="@Url.Action("Tienda", "Home")" class="btn btn-secondary me-2">Comprar Ahora</a> </p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">Microempresa costarricense</h2>
                <p>Ofrecemos una gran variedad de opciones relacionadas a la pastelería artsenal</p>
                <p>Somos una empresa familiar, que busca crecer a corto y largo plazo</p>
                <p>Contamos con más de 3 años de experiencia en el mercado </p>
            </div>
        </div>



    </div>
</div>
   

