@{
    Layout = "_LayoutUsuario";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Nuestros Servicios</h1>
                    <p class="mb-4">Actualmente Dulce Espiga, ofrece una gran variedad de servicios.</p>
                    <p><a href="@Url.Action("TiendaUsuario", "UsuarioRegistrado")" class="btn btn-secondary me-2">Comprar Ahora</a></p>
                </div>
            </div>
            <div class="col-lg-3">

                <img src="~/img/Logo_Transparente.png" class="img-fluid">

            </div>
        </div>
    </div>
</div>

<div class="why-choose-section">
    <div class="container">
        <div class="row my-5">
            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Envios a domicilio</h3>
                    <p>Dulce espiga ofrece la modalidad de envíos a domicilio utilizando un motorizado.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Facilidad de Compras</h3>
                    <p>La página web esta diseñada para llevar a cabo un proceso de compras sencillo.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Variedad de Opciones</h3>
                    <p>Dulce Espiga al ser una repostería artesanal ofrece una gran cantidad de opciones entre las que se encuentran cupcakes y pasteles.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Microempresa Costarricense</h3>
                    <p>Dulce Espiga actualmente es una emprendimiento que se encuentra en crecimiento.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Cotización de Eventos</h3>
                    <p>Dulce Espiga ofrece la posiblidad de cotizar para un evento como una boda o un babyshower.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Calidad en el servicio</h3>
                    <p>Dulce Espiga garantiza que el servicio a brindar sea cómodo.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Soporte mediante correo o mensaje</h3>
                    <p>Dulce Espiga ofrece la posiblidad de ponerse en contacto mediante correo o mensaje.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-3">
                <div class="feature">
                    <div class="icon">
                        <img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
                    </div>
                    <h3>Sabor Casero</h3>
                    <p>Todos los productos de Dulce Espiga tienen el sabor casero costarricense.</p>
                </div>
            </div>

        </div>

    </div>
</div>

