@{
    Layout = "_LayoutEmpleado";
}




<div>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Recetas</h1>

                </div>

            </div>
        </div>
    </section>


    <section class="content">

        <div class="card card-solid">
            <div class="card-body pb-0">
             
                <div class="row d-flex align-items-stretch" id="agregar">
                </div>
            </div>
        </div>

        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation" id="navFooter">
                <ul class="pagination justify-content-center m-0">
                   
                </ul>
            </nav>
        </div>
    </section>
</div>


  









@section Scripts {
    <script type="text/javascript" src="~/js/recetaEmpleado/index.js" asp-append-version="true">

    </script>
}